* {
  font-family: "Noto Serif KR", serif;
}
/** a box to replace an ad */
.ad {
  border: 1px solid black;
  height: 800px;
}
.body {
  height: 800px;
}
/** the title to replace an logo */
.logo_alt {
  font-family: "Yeon Sung", cursive;
}
.ck-editor__editable {
  min-height: 580px;
  max-height: 580px;
}

.sep:before {
  content: "|";
  font-size: 0.9em;
  font-weight: 300;
  margin: 0.5em;
  line-height: 0.2em;
}
/** Board */
.board {
  min-height: 400px;
  max-height: 400px;
}
/** Pagination */
.page-link {
  color: #999;
  border-color: #444;
}
.page-item.active .page-link {
  z-index: 1;
  color: #ccc;
  font-weight: bold;
  background-color: #333;
  border-color: #444;
}
.page-link:focus,
.page-link:hover {
  color: #ccc;
  background-color: #222;
  border-color: #444;
}